doctype html
html
  head
    title= "NodeJs App"
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script
     include ../public/signUpRequest.js  
    script
     include ../public/signInRequest.js  
     
  body
           <div >
             <ul >
               <li ><a href="home">Home</a></li>
               <li><a href="/updateuser">Update</a></li>
               <li><a href="/signin"> Logout</a></li>
             </ul>
           </div>
        
  