doctype html
html
    head
     link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
     script
        include ../public/signInRequest.js
    body 
        div.container
            div(class="col-sm-4 col-sm-offset-4 well")  
                form 
                    div(class="form-group") 
                        label(for="email") Email address:
                        input(type="text" class="form-control" id="email")
                
                    div(class="form-group")
                        label(for="pwd") Password:
                        input(type="password" class="form-control" id="pwd")
                        
                    button(class="btn btn-success" onclick="signIn(event)") Submit
                    
                        
    

                        