doctype html
html
  head
    title= "NodeJs App"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script
     include ../public/signUpRequest.js  
    script
     include ../public/signInRequest.js  
    script
     include ../public/updateUser.js 
        
  body(onload="getUser()")
             <h1>Update User</h1>   
             form 
                div(class="form-group ") 
                    label(for="email") Email address:
                    p(type="email"  id="userName" name="userName")

                div(class="form-group") 
                    label(for="fname") First Name:
                    input(type="text" class="form-control" id="firstName" name="firstName" )

                div(class="form-group") 
                    label(for="lname") Last Name:
                    input(type="text" class="form-control" id="lastName" name="lastName" )
         
                button(class="btn btn-success" type="button" onclick="updateUser()") Update

                <ul>
                    <li><a href="home"></span> Home</a></li>
                    <li><a href="/signin"></span> Logout</a></li>
                </ul>